@page "/"
@layout BaseLayout

<PageTitle>Hançerli Market</PageTitle>
<div class="position-absolute top-row px-4">
    <RadzenLink class="rz-color-white m-3" Path="login">
        Giriş yap
    </RadzenLink>
</div>
<div class="text-center w-100 h-100 rz-background-color-primary-darker d-flex flex-column gap-4 flex-wrap align-content-center justify-content-center align-items-center">
    <p class="font-weight-bold rz-color-white" style="font-size:10rem">Hançerli Market</p>
    <div>
        <RadzenLink class="rz-color-white m-3" Text="Google Haritalar" Path="https://maps.app.goo.gl/ojJsv2v3W5agmGnP9" target="_blank"></RadzenLink>
        <RadzenLink class="rz-color-white m-3" Text="Apple Haritalar" Path="https://maps.apple.com/?address=59148%20Nolu%20Sk.%2035,%2027500%20%C5%9Eehitkamil%20Gaziantep,%20T%C3%BCrkiye&auid=11213822681808035614&ll=37.091811,37.366867&lsp=9902&q=Han%C3%A7erli%20market&t=m" target="_blank"></RadzenLink>
    </div>
</div>
